@import "../../_setting.scss";

$font: #ffd154;
$list-bg-color: grey;

$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 8px;

.column {
  flex: 0 0 auto;
  width: 300px;
  height: calc(100% - #{$gap});
  &:not(:first-child) {
    margin-left: $gap;
  }

  // header, ul li, footer
  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
  }

  header {
    padding-left: 15px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  footer {
    padding-left: $gap;
    height: $column-footer-height;
    line-height: $column-footer-height;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  ul.card-list {
    list-style-type: none;
    margin: 0;
    max-height: calc(
      100% - #{$column-header-height} - #{$column-footer-height}
    );
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken($list-bg-color, 15);
      border-right: 5px solid $list-bg-color;
    }
  }
}
